<!-- Author: River Pearson -->
<!-- UID: 115987050 -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Confirmation</title>
	<link rel="stylesheet" href="style.css" />
</head>

<body>
	<h1>Confirmation</h1>

    Thank you! Your activities were successfully generated and stored in the database.<br> 
    Number of generated activities: <%- quantity %>
	<hr>
    <a href="/">HOME</a>
</body>

</html>
