<!-- Author: River Pearson -->
<!-- UID: 115987050 -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Activity Generator</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
	<h1>Welcome to the Activity Generator!</h1>

    To generate activites click the link <a href="/generateActivities">here</a>.<br><br>
    To view a list of generated activities, click the link <a href="/viewActivities">here</a>.<br><br>
    To eliminate completed activities from the database, click the link <a href="/deleteActivity">here</a>.<br><br>
    To clear the database, click the link <a href="/removeAllActivities">here</a>.<br><br>
	<hr>
</body>

</html>
