<!-- Author: River Pearson -->
<!-- UID: 115987050 -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Database Cleared</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
	<h1>Database Cleared</h1>

    All activities have been removed from the database. Number of activities removed: <%- quantity %>
	
    <hr>
    <a href="/">HOME</a>
</body>

</html>