<!-- Author: River Pearson -->
<!-- UID: 115987050 -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Generated Activities</title>
	<link rel="stylesheet" href="style.css" />
</head>

<body>
	<h1>Activities</h1>
	<div>
		<table border="1">
			<tr>
				<th>Activity</th>
				<th>Accessibility</th>
				<th>Type</th>
				<th>Participants</th>
				<th>Price</th>
			</tr>
			<%- tableRows %>
		</table>
	</div>
	<hr>
    <a href="/">HOME</a>
</body>

</html>
